{% if data['signedin'] == "true" %}
{% extends "v0/layout_v0_signedin.html" %}
{% else %}
{% extends "v0/layout_v0.html" %}
{% endif %}

{% block pageTitle %}
Check your email
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h1 class="govuk-fieldset__heading">
          Check your email
        </h1>
      </legend>
      <p>We've sent you a email with a link to reset your password.</p>

      <p><a href="/v0/signin/forgot-password">Not received an email</a></p>

    </fieldset>

  </div>
</div>

{% endblock %}
