{% if data['signedin'] == "true" %}
{% extends "v0/layout_v0_signedin.html" %}
{% else %}
{% extends "v0/layout_v0.html" %}
{% endif %}

{% block pageTitle %}
  Forgot your password?
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Forgot your password?
            </h1>
          </legend>
          <p>We'll send you an email to create a new password</p>

          <form action="/v0/signin/forgot-password-wait" method="post">

          <div class="govuk-form-group">
            <label class="govuk-label" for="email-address">
              Email address
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="email-address" name="email-address" type="text">
          </div>


            <button class="govuk-button" data-module="govuk-button">
              Send email
            </button>
          </form>
        </fieldset>

</div>
</div>

{% endblock %}
