{% if data['signedin'] == "true" %}
{% extends "v0/layout_v0_signedin.html" %}
{% else %}
{% extends "v0/layout_v0.html" %}
{% endif %}

{% block pageTitle %}
  Delete your account
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">Account deleted</h1>
    </div>

    <p>
      Thank you for using the DVLA API Developer Portal
    </p>

    <p>
      We have sent you a confirmation email.
    </p>

    <h2 class="govuk-heading-m">What happens next</h2>
    <p>
      You can <a href="/v0/register">create a new account</a> or <a href="/v0/api">view the open data APIs</a></p>
</div>
</div>

{% endblock %}
