{% if data['signedin'] == "true" %}
{% extends "v1/layout_v1_signedin.html" %}
{% else %}
{% extends "v1/layout_v1.html" %}
{% endif %}

{% block pageTitle %}
  Your profile
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Change email address
            </h1>
          </legend>
          <form action="/v1/user-profile" method="post">

            <div class="govuk-form-group">
              <label class="govuk-label" for="email-address">
                Email address
              </label>
              <span id="mobile-number-hint" class="govuk-hint">
                We’ll send you a security link by email
              </span>
              <input class="govuk-input govuk-!-width-two-thirds" id="email-address" name="email-address" type="text">
            </div>

            <button class="govuk-button" data-module="govuk-button" href="">
              Continue
            </button>
          </form>
        </fieldset>

</div>
</div>

{% endblock %}
