
{% extends "layout.html" %}

{% block pageTitle %}
  DVLA data sharing self service prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Question 4 of 10</span>
      <h1 class="govuk-heading-xl">
        AWS Account ID
      </h1>
      <form action="/v1/obf_05" method="post" novalidate>
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="aws_id">
            What AWS account ID does your API use?
          </label>
          <span id="aws_id-hint" class="govuk-hint">
            For example, 123456789012
          </span>
          <input class="govuk-input govuk-input--width-10" id="aws_id" name="aws_id" type="text" aria-describedby="aws_id-hint">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="aws_region">
            What AWS region does your API use?
          </label>
          <span id="aws_region-hint" class="govuk-hint">
            For example, eu-west-2
          </span>
          <input class="govuk-input govuk-input--width-10" id="aws_region" name="aws_region" type="text" aria-describedby="aws_region-hint" value="eu-west-2">
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

</div>

{% endblock %}
