
{% extends "layout.html" %}

{% block pageTitle %}
  DVLA data sharing self service prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Question 9 of 10</span>
      <h1 class="govuk-heading-xl">
        API logging sensitivity
      </h1>
      <form action="/v1/obf_10" method="post" novalidate>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="sensitive_data-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <label class="govuk-label govuk-label--m" for="sensitive_data">
                Do your API logs contain sensitive data?
              </label>
            </legend>
            <span id="sensitive_data-hint" class="govuk-hint">
              Sensitive data is not allowed in non-repudiation logging.
            </span>
            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="sensitive_data" name="sensitive_data" type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="sensitive_data">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="sensitive_data-2" name="sensitive_data" type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="sensitive_data-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>


                <button class="govuk-button" data-module="govuk-button">
                  Continue
                </button>

              </form>

</div>

{% endblock %}
