
{% extends "layout.html" %}

{% block pageTitle %}
  DVLA data sharing self service prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Question 10 of 10</span>
      <h1 class="govuk-heading-xl">
        API availability
      </h1>
      <form action="/v1/obf_summary" method="post" novalidate>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="sensitive_data-hint">

            <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
              <div class="govuk-form-group">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <label class="govuk-label govuk-label--m" for="availability">
                    Does your API have any planned business hours?
                  </label>
                </legend>
                <span id="sensitive_data-hint" class="govuk-hint">
                  For example, Mon-Fri 7am-6pm
                </span>

                <textarea class="govuk-textarea govuk-js-character-count " id="availability" name="availability" rows="5" aria-describedby="availability-info availability-hint"></textarea>
              </div>

              <span id="with-hint-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                You can enter up to 200 characters
              </span>
            </div>

          </fieldset>
        </div>


                <button class="govuk-button" data-module="govuk-button">
                  Review your answers
                </button>

              </form>

</div>

{% endblock %}
