
{% extends "layout.html" %}

{% block pageTitle %}
  DVLA data sharing self service prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Question 2 of 10</span>
      <h1 class="govuk-heading-xl">
        API security channel
      </h1>
      <form action="/v1/obf/security" method="post" novalidate>

                <div class="govuk-form-group">
                  <label class="govuk-label govuk-label--m" for="security_channel">
                    What type of data security is your API?
                  </label>

                      <div class="govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="security_channel" name="security_channel" type="radio" value="Public">
                          <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                            Public (Open data)
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="security_channel-2" name="security_channel" type="radio" value="Private">
                          <label class="govuk-label govuk-radios__label" for="security_channel-2">
                            Private (Secure data)
                          </label>
                        </div>
                      </div>

                </div>

                <button class="govuk-button" data-module="govuk-button">
                  Continue
                </button>

              </form>

</div>

{% endblock %}
