
{% extends "layout.html" %}

{% block pageTitle %}
  DVLA data sharing self service prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Question 8 of 10</span>
      <h1 class="govuk-heading-xl">
        Developer Portal documentation
      </h1>
      <form action="/v1/obf_09" method="post" novalidate>

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="environments-hint">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <label class="govuk-label govuk-label--m" for="aws_id">
                            Where would you like you API documentation to be viewable?
                        </label>
                      </legend>
                      <span id="environments-hint" class="govuk-hint">
                        Select all that apply.
                      </span>
                      <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="devportal" name="devportal" type="checkbox" value="Internal">
                          <label class="govuk-label govuk-checkboxes__label" for="devportal">
                            Internal developer portal (<a href="https://internal.developer-portal.driver-vehicle-licensing.api.gov.uk/" target="_blank">link</a>)
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="devportal-2" name="devportal" type="checkbox" value="External">
                          <label class="govuk-label govuk-checkboxes__label" for="environments-2">
                            External developer portal (<a href="https://developer-portal.driver-vehicle-licensing.api.gov.uk/#internal-dvla-api-developer-portal" target="_blank">link</a>)
                          </label>
                        </div>
                    </div>
                    </fieldset>
                  </div>



                <div class="govuk-form-group">
                  <label class="govuk-label govuk-label--m" for="devportal_location">
                    Where is your API documentation located? (.md)
                  </label>
                  <span id="devportal_location-hint" class="govuk-hint">
                    For example, prod-cdn.driver-vehicle-licensing.api.gov.uk/api-spec.md
                  </span>
                  <input class="govuk-input govuk-input--width-20" id="devportal_location" name="devportal_location" type="text" aria-describedby="devportal_location-hint">
                </div>


                <button class="govuk-button" data-module="govuk-button">
                  Continue
                </button>

              </form>

</div>

{% endblock %}
