
{% extends "layout.html" %}

{% block pageTitle %}
  DVLA data sharing self service prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Question 6 of 10</span>
      <h1 class="govuk-heading-xl">
        Open API specification
      </h1>
      <form action="/v1/obf_07" method="post" novalidate>

                <div class="govuk-form-group">
                  <label class="govuk-label govuk-label--m" for="openapi_location">
                    Where is your Open API specification located? (.yaml)
                  </label>
                  <span id="openapi_location-hint" class="govuk-hint">
                    For example, prod-cdn.driver-vehicle-licensing.api.gov.uk
                  </span>
                  <input class="govuk-input govuk-input--width-20" id="openapi_location" name="openapi_location" type="text" aria-describedby="openapi_location-hint">
                </div>

                <button class="govuk-button" data-module="govuk-button">
                  Continue
                </button>

              </form>

</div>

{% endblock %}
