
{% extends "layout.html" %}

{% block pageTitle %}
  DVLA Data Sharing Self Service
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-caption-l">
        DVLA Data Sharing
      </h1>
      <h1 class="govuk-heading-xl">
        Self Service
      </h1>
      <p>
        The ability to onboard your API onto the DVLA API Gateway is now in your hands.
      </p>

      <p>Choose from:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/v1">step by step guide</a><br>for users new to API on-boarding</li>
        <li>advanced <a href="/v1/ob_configurator">API configurator</a><br>for users familiar with Api on-boarding</li>
      </ul>

</div>

{% endblock %}
