{% extends "layout.html" %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">DVLA</span>
      <h1 class="govuk-heading-xl">API Developer Portal</h1>
      <h2 class="govuk-heading-l">Prototype</h2>

      <p>
        This prototype lets you rapidly play around with the DVLA API Deveoper Portal.
      </p>

      <p>
        It contains various examples of static pages through to complex, data-driven transactions.
      </p>

      <h2 class="govuk-heading-m">Versions</h2>

      <p>Select the version you would like to use:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/v0/api/ves">Step 1</a>: Web form > DSST email / Test API key (Updated: 7 Jan 2020)</li>
        <li>...</li>
        <li><a href="/v1">Future</a>: A vision of what the future portal could look/feel like (Updated: 6 Dec 2019)</li>
      </ul>
    </div>
</div>

{% endblock %}
